.contentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

    &.contentModal::-webkit-scrollbar {
        display: none;
    }
}

.contentModal__portrait {
    display: none;
    object-fit: contain;
    border-radius: 10px;
}

.contentModal__landscape {
    object-fit: contain;
    border-radius: 10px;
}

.contentModal__about {
    padding: 10px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "sans-serif";
    justify-content: space-evenly;
    font-weight: 300;

    .contentModal__title {
        height: 16%;
        font-size: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tagline {
        padding-bottom: 10px;
        align-self: center;
    }

    .videioLink {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        display: none;

        @include for-mobile-layout {
            display: none;
        }
    }

    .contentModal__description {
        display: flex;
        overflow-y: scroll;
        padding: 15px;
        border-radius: 20px;
        scrollbar-width: thin;
        box-shadow: inset 0 0 5px #000000;
        text-align: justify;

        &.contentModal::-webkit-scrollbar {
            display: none;
        }

        @include for-mobile-layout {
            padding: 8px;
            font-size: 15px;
        }
    }
}

@media(min-width:835px) {
    .contentModal__landscape {
        display: none;
    }

    .contentModal__portrait {
        display: flex;
        width: 38%;
    }

    .contentModal {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    .contentModal__about {
        width: 58%;
        padding: 0;
        height: 100%;
    }

    .contentModal__title {
        font-size: 3.5vw;
    }

    .contentModal__description {
        font-size: 22px;
    }
}